
<!DOCTYPE html>

<html>

  <head>
    <title> My Web Page! </title>
  </head>

<!-- The double curly braces are Jinja2 templating syntax.
     These templates are rendered using a separate templating language called Jinja2
     Flask comes with Jinja2 -->

  <body>
      <h1> {{ headline }} </h1>      <!-- Using {{ headline }} makes the word headline a parameter of the render_template function,
                                          thus we can pass an argument to render_template for the headline parameter.

                                          render_template("index3.html", headline = my_headline) -->

  </body>

</html>
