
/* Another powerful feature of Sass is that it allows you to use a nested structure like this to organize
   the styling. */


div {
  font-size: 24px;

  p {             /* This means I want this styling to apply to all paragraphs that are inside of a div */
    color: blue;
  }

  ul {
    color: green;
  }


}
