
html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.content {
    background-color: rgba(0, 0, 0, 0.7);      /* The last value lets you set the tansparency of the background */
    color: white;
    padding: 40px;
    height: 500px;
    width: 500px;
    margin: 100px auto;
}


.profile_pic {
    height: 100px;
    border-radius: 50%;
}
